body,div,img,ul,li,a{
    margin: 0;
    padding: 0;
}
body,div{
    font-family: Simhei;
}
body{background-color: lavender}
.head{
    background-color:#282828;
}
.clear{
    clear: both;
}
.head>img{
    vertical-align: bottom;
    margin-left: 6%;
}
.level-nav{
    float: right;
    margin-top: 40px;
}
.level-nav li{
    display: inline-block;
    list-style-type: disc;
}
.level-nav li img{
    height: 10px;
}
.level-nav li a{
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    margin-left: 12px;
    margin-right: 12px;
}
.case{
    border-style: outset;
    border-top: solid lightgray thin;
    border-left: solid lightgray thin;
    background-color: white;
    margin:20px 20px 20px 20px;
    padding: 25px 18px 25px 18px;
}
article h1{
    font-weight: bolder;
}
article h2{
    font-weight: 400;
    font-size: large;
    color: gray;
}
article h3{
    font-weight: 300;
    font-size: medium;
    color: gray;
}
.indent{
    text-indent: 2em;
    line-height: 180%;
}
.li-style-1{
    margin-top: 1.2em;
}
.li-style-1 li{
    list-style-type: none;
    margin-left: 1.8em;
    margin-bottom: 0.6em;
}
.case-2{
    height: 25%;
    width: 25%;
    border: solid thin lightgray;
    padding: 16px 16px 16px 16px;
    margin-left: 35px;
    margin-bottom: 15px;
}
.p-style-1{
    text-align: center;
    margin-top: 0;
    margin-bottom: 16px;
}
.case-2 img{
    height: 100%;
    width: 100%;
}
.ol-style-1{
    font-weight: 600;
}
table,th,td{
    border: 1px solid lavender;
    text-align: left;
}
.table-style-1{
    border-collapse: collapse;
    width: 100%;
}
.th-style-1{
    background-color: black;
    color: white;
}
.td-style-1{
    font-weight: bold;
    background-color: lavender;
}

.h1-style-1{
    font-size: large;
    border-left: solid 4px lavender;
    margin: 0;
    padding: 10px 0 10px 10px;
}
.footer{
    padding-top: 5px;
    color: white;
    text-align: center;
    background-color: black;
    height: 4em;
}
.table-style-2{
    border:none;
}
.table-style-2 td{
    border:none;
    padding: 5px 0 5px 0;
}
.td-style-2{
    vertical-align: top;
}
.table-style-2 td:first-child{
    text-align: right;
    width: 33%;
}
.table-style-2 label{
    margin-right: 1em;
}
.table-style-2 p{
    margin-top: 5px;
    font-weight: 300;
    font-size: medium;
    color: gray;
}
#personExpr{
    width: 90%;
    height: 6em;
}
.submit-style-1{
    font-size: larger;
    font-weight: bolder;
    width: 100%;
    height: 2em;
    color: white;
    background-color: #3366ff;
    border-radius: 8px 8px 8px 8px;
}